.postReview {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.postReview div {
  font-family: "Montserrat", sans-serif;
}

.topContent div {
  margin-top: 10px;
}

/* ---------------BigPost------------ */

.posts .postReview:first-child .content .topContent div {
  margin-bottom: 10px;
  margin-top: 0;
}

.posts .postReview:first-child .title {
  font-size: 35px;
  line-height: 43.5px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.posts .postReview:first-child {
  grid-area: 1/1 / span 1 / span 2;
  display: flex;
  flex-direction: row;
}

.posts .postReview:first-child .background {
  flex: 60%;
  width: 60%;
  height: 100%;
  max-height: 100%;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.posts .postReview:first-child .background img {
  width: 100%;

  height: 100%;
  object-fit: cover;
  background-color: lawngreen;
}

.posts .postReview:first-child .content {
  padding-left: 20px;
  flex: 40%;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-between;
}

.posts .postReview:first-child .opening {
  display: -webkit-box;
  color: #8b8b8b;
  /* max-height: 30%; */
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* ------Small Post------- */

.title {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-weight: 500;
  font-size: 25px;
}

.title:hover,
.readMore:hover {
  color: #12c99d;
}

.opening {
  display: none;
  line-height: 22px;
}

.more {
  color: #727272;
  margin-top: 10px;
}
.readMore {
  color: #727272;
  font-weight: 500;
  font-size: 16px;
}

.background {
  width: 100%;
  max-height: 60%;
  min-height: 60%;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

/* 16:9 aspect ratio */

.background::after {
  display: block;
  content: "";
  padding-bottom: 66.66%;
}

.zoom_image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 64em) {
  .postReview {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
  }

  .background {
    max-width: 30%;
    min-width: 30%;
    max-height: 100%;
    border-radius: 10px;
    overflow: hidden;
    flex: 40%;
    /* 1:1 Aspect Ratio */
    position: relative; /* If you want text inside of it */
  }

  .background::after {
    display: block;
    content: "";
    /* 16:9 aspect ratio */
    padding-bottom: 56.25%;
  }

  .zoom_image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  .content {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .topContent div {
    margin-top: 0;
  }

  .opening {
    display: none;
  }
}
