.createpost {
  margin-top: 50px;
  padding: 10px 0;
}
.createpost h2 {
  text-align: center;
  color: var(--logo);
}
.createpost h3 {
  /* text-align: center; */
  /* color: var(--logo); */
}
form {
  max-width: 400px;
  margin: 0 auto;
  /* border: 2px black solid; */
  padding: 5px 5px;
}
form .image {
  width: 100%;
  max-height: 400px;
}
form .image img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
}
form button {
  display: block;
  /* width: 20%; */
  margin: 15px auto;
  padding: 15px 0;
}
form .addButton {
  display: inline;
  width: 20%;
}
form .addBlogButton {
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--logo);
  border-radius: 5px;
}
form input {
  min-width: 70%;
  width: 100%;
  display: block;
}
.blogbody {
  /* text-align: center; */
  margin: 10px 0;
}
.blogbody textarea {
  display: block;
  width: 100%;
}
.blogbody .section {
  border: 1px solid black;
  /* width: 100%; */
  padding: 10px 5%;
  margin: 5px 0;
}
