.row {
  display: flex;
  flex-direction: row;
  width: 100%;
  border: 1px solid #d8d8d8;
  border-top: none;
  transition: background-color 0.2s linear;
}

.row:hover {
  background-color: rgb(226, 226, 226);
}

.row .id,
.tit,
.updated,
.author {
  color: black;
  font-family: "Montserrat", sans-serif;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-weight: 500;
  text-overflow: ellipsis;
  align-self: center;
  padding: 15px 20px;
  white-space: nowrap;
  cursor: pointer;
}

.deleteBtn {
  width: 40px;
  height: 40px;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-self: center;
  visibility: hidden;
  background-color: rgb(226, 226, 226);
  cursor: pointer;
}

.deleteBtn:hover {
  visibility: visible;
  background-color: rgb(206, 206, 206);
  transition: background-color cubic-bezier(0, 0, 0.58, 1) 0.5s;
}

.row .deleteBtn:hover i {
  opacity: 1;
  color: red;
  transition: opacity cubic-bezier(0, 0, 0.58, 1) 0.5s;
}

.id {
  flex: 15%;
  width: 15%;
  /* background-color: sienna; */
}

.tit {
  flex: 50%;
  /* background-color: skyblue; */
  width: 50%;
}

.updated {
  flex: 15%;
  width: 15%;
  /* background-color: springgreen; */
}

.author {
  flex: 15%;
  width: 15%;
  /* background-color: yellow; */
}

.delete {
  flex: 5%;
  width: 5%;
  display: flex;
  justify-content: center;
}

.row i {
  color: transparent;
  visibility: hidden;
  opacity: 0.8;
  font-size: 22px;
  align-self: center;
  display: -webkit-box;
}

/* .row .deleteBtn:hover i {
  opacity: 1;
  color: red;
  transform: scale(1.3);
} */

.row:hover i {
  color: red;
  visibility: visible;
  transition: color cubic-bezier(0, 0, 0.58, 1) 0.5s;
}
