.likes {
  padding-right: 20px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
}

.customHeart {
  padding: 0 8px;
}

.customHeart:hover {
  fill: #c9c7c7 !important;
  transition: fill 0.1s;
}
.customHeart:active {
  fill: #a5a5a5 !important;
  transition: fill 0.1s;
}
.active.customHeart:hover {
  fill: rgb(205, 3, 3) !important;
  transition: fill 0.1s;
}
.active.customHeart:active {
  fill: rgb(155, 6, 6) !important;
  transition: fill 0.1s;
}
