.postDetail {
  margin: 60px 100px 20px 100px;
  display: flex;
  flex-direction: row;
  font-family: "Montserrat", sans-serif;
}

/* background-color: lightblue; */

.postDetail p {
  font-size: 18px;
  line-height: 28px;
  -webkit-line-clamp: 5;
}

.postAuthorDetail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.postAuthor {
  display: inline-flex;
  flex-direction: row;
}

.nameAndTime {
  font-size: 20px;
  align-self: center;
  margin-left: 20px;
}

.authName {
  font-weight: 500;
}

.time {
  color: #8b8b8b;
}

.postTitle {
  font-size: 35px;
}

.postMedia {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.content {
  flex: 70%;
  width: 70%;
  box-sizing: border-box;
  padding-right: 20px;
  /* padding-right: 20px; */
  /* background-color: lavenderblush; */
}

.rightSide {
  flex: 30%;
  padding-left: 20px;
  margin-top: 30px;
  /* background-color: rgb(226, 226, 226); */
  box-sizing: border-box;
}

.avatarr {
  width: 70px;
  height: 70px;
  position: relative;
  background: linear-gradient(to right, #b993d6, #8ca6db);
  padding: 3px;
  border-radius: 100px;
}
.avatarr .avt {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
  border: 3px solid white;
  display: block;
  max-width: 100%;
  box-sizing: border-box;
}
.avatarr .iconn {
  width: 18px;
  height: 18px;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8ca6db;
  font-size: 10px;
  color: white;
  box-shadow: 0 0 0 3px white;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(-25%, -25%);
  z-index: 10;
}

.countLike {
  font-size: 20px;
  align-self: center;
  color: #8b8b8b;
}

.sm {
  padding-right: 12px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
}

.smIcon {
  font-size: 21px;
  padding: 0 8px;
  align-self: center;
  cursor: pointer;
}

.markDown {
  width: 100%;
}

.markDown img {
  width: 100%;
}

.alsoLike {
  width: 100%;
}

.alsoLike .labelMayLike {
  font-weight: 600;
  font-size: 18px;
  line-height: 34px;
}

.relatedPosts {
  display: flex;
  flex-direction: column;
}

.labelMayLike {
  margin-bottom: 10px;
}

.relatedPost {
  display: flex;
  flex-direction: row;
  margin: 10px 0;
  cursor: pointer;
}

.relatedPost .imgBg {
  position: relative;
  flex: 30%;
  max-height: 68px;
  min-height: 68px;
  min-width: 68px;
}

.relatedPost .imgBg::after {
  display: block;
  content: "";
  padding-bottom: 100%;
}

.imgRelated {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
}

.relatedPost .recommendedTitle {
  margin-left: 20px;
  font-weight: 600;
  font-size: 18px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 3;
}

.relatedPost .recommendedTitle:hover {
  color: #12c99d;
}
