.admin {
  padding: 60px 100px;
  height: 600px;
}

.control {
  width: 100%;
  height: 70px;
  display: inline-flex;
  justify-content: space-between;
}

.label {
  display: flex;
  flex-direction: row;
  align-self: center;
}

.addIconBox {
  border: solid 2px #12c99d;
  padding: 20px;
  position: relative;
}

.admin .control .label .addIconBox i {
  color: #12c99d;
  font-size: 28px;
  background-color: #fff;
  position: absolute;
  top: -5px;
}

.contentLabel {
  margin-left: 25px;
  align-self: center;
  font-size: 20px;
  font-weight: 600;
  color: #12c99d;
}

.addPost {
  align-self: center;
  border-radius: 6px;
  padding: 10px 20px;
  background-color: #12c99d;
  color: #fff;
}
.deletePost {
  align-self: center;
  border-radius: 6px;
  padding: 10px 20px;
  background-color: #ff0000;
  color: #fff;
  margin-right: 20px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  display: none;
  cursor: pointer;
}
.addPost:hover {
  opacity: 0.8;
}
.deletePost:hover {
  opacity: 0.6;
}

.prop {
  display: flex;
  flex-direction: row;
  width: 100%;
  border: 1px solid #d8d8d8;
  transition: background-color 0.2s linear;
  padding: 12px 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.prop div {
  color: black;
  font-family: "Montserrat", sans-serif;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-weight: 500;
  text-overflow: ellipsis;
  align-self: center;
  padding: 3px 20px;
  border-right: solid 2px #d8d8d8;
  font-weight: 600;
}

.prop1 {
  flex: 15%;
  width: 15%;
}

.prop2 {
  flex: 50%;
  width: 50%;
}

.prop3 {
  flex: 15%;
  width: 15%;
}

.prop4 {
  flex: 15%;
  width: 15%;
}
