.recitem {
  width: 100%;
  display: flex;
  height: 60px;
  justify-content: space-around;
  margin: 20px 0;
}
.recitem .recitem__left {
  width: 30%;
  padding: 5px;
}
.recitem .recitem__left img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.recitem .recitem__right {
  width: 60%;
  display: flex;
  flex-direction: column;
  font-weight: 600;
}
