.dotLoading {
  margin: 70px 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

@keyframes scaling {
  0%,
  100% {
    transform: scale(0.2);
    background-color: #30ffb7;
  }
  40% {
    transform: scale(1);
    background-color: #07deff;
  }
  50% {
    transform: scale(1);
    background-color: #0761ff;
  }
}

.dot {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  transform: scale(0);
  background-color: red;
  animation: scaling 2.5s ease-in-out infinite;
  display: inline-block;
  margin: 0.5rem;
}

.dot:nth-child(0) {
  animation-delay: 0s;
}
di .dot:nth-child(1) {
  animation-delay: 0.2s;
}

.dot:nth-child(2) {
  animation-delay: 0.4s;
}

.dot:nth-child(3) {
  animation-delay: 0.6s;
}

.dot:nth-child(4) {
  animation-delay: 0.8s;
}

.dot:nth-child(5) {
  animation-delay: 1s;
}
