.home {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}

.posts {
  padding: 20px 0 20px 100px;
  flex: 70%;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 60vh 60vh 60vh 60vh;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  /* background-color: burlywood; */
}

.right {
  flex: 30%;
  position: relative;
  padding: 20px 100px 0 40px;
}

.sidebar {
  position: absolute;
}
.sidebar .search {
  width: 100%;
  height: 45px;
  background-color: #eee;
  border-radius: 25px;
  display: inline-flex;
  padding: 0 20px;
}

.searchTxt {
  font-size: 18px;
  background-color: inherit;
  border: none;
  border-radius: 50px;
  font-family: "Montserrat", sans-serif;
}

.searchTxt:focus {
  border: none;
  outline: none;
}

.submitBtn {
  border: none;
  padding: 0;
  margin: 0;
}

.submitBtn:hover i {
  color: #12c99d;
  transform: scale(1.2);
}

.submitBtn i {
  font-size: 25px;
}

.categoriesList {
  width: 100%;
  margin-top: 20px;
  padding: 0px 20px;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
}
.categoriesList h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 34px;
}

.categoriesItem {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  margin-top: 5px;
}
.itemName {
  font-weight: 500;
  font-size: 18px;
  line-height: 34px;
}

.count {
  width: 30px;
  height: 30px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #12c99d;
  border-radius: 50px;
  text-align: center;
}

.itemName:hover {
  color: #12c99d;
}

/* tablet */
@media screen and (max-width: 64em) {
  .posts {
    flex: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  .right {
    display: none;
    padding: 20px 10px 0 40px;
  }
}
