/* .posts {
  padding: 20px 0 20px 100px;
  flex: 70%;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 60vh 60vh 60vh 60vh;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
 
} */

/* @media screen and (max-width: 64em) {
  .posts {
    flex: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
} */

.noPost {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.noPost .noToShow {
  text-align: center;
  margin-top: 10px;
}

.noPost a {
  margin-top: 10px;
  align-self: center;
  padding: 10px 20px;
  background-color: #12c99d;
  border-radius: 10px 20px;
  color: #fff;
}

.noPost a:hover {
  background-color: #30ffb7;
}
