.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 200;
  background-color: #fff;
}
.header .header__wrap {
  display: flex;
  justify-content: space-between;
}
.header .header__wrap .header__logo {
  /* align-items: center; */
}
.header .header__wrap .header__logo a {
  /* color: rgba(18, 201, 157, 1);
  font-family: Ribeye;
  font-weight: 400;
  font-size: 36px;
  line-height: 49px; */
}
.header .header__wrap .header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header__wrap .header__menu .header__menu-list {
}
.header .header__wrap .header__menu .header__menu-list .list__header {
  display: flex;
  justify-content: space-between;
  height: 100%;
  pointer-events: auto;
}
a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: 600;
}

li:hover a {
  color: #12c99d;
}

.header .header__wrap .header__menu .header__menu-list .list__header,
.list__header-item {
  font-family: "Montserrat", sans-serif;
  position: relative;
  color: black;
  text-align: center;
  margin: 0 15px 0 15px;
}

/* .header .header__wrap .header__menu .header__menu-list .list__header,
.list__header-item:hover li {
  color: #12c99d;
} */

/* .header .header__wrap .header__menu .header__menu-list .list__header,
.list__header-item:hover {
  color: rgba(87, 87, 7, 0.753);
} */

.header .header__wrap .header__menu .header__menu-sign {
  background-color: #12c99d;
  border-radius: 25px;
  padding: 5px 15px;
  display: flex;
  justify-content: center;
}
.header .header__wrap .header__menu .header__menu-sign a {
  color: aliceblue;
  align-self: center;
  text-align: center;
  font-size: 20px;
}
