.header {
}
.header .header__wrap {
  display: flex;
}
.header .header__wrap .header__logo {
  width: 35%;
  font-weight: 400;
  font-size: 36px;
  color: rgba(18, 201, 157, 1);
  line-height: 49px;
  align-items: center;
  font-family: Ribeye;
}
.header .header__wrap .header__menu {
  width: 65%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header__wrap .header__menu .header__menu-list {
  /* width: 85%; */
}
.header .header__wrap .header__menu .header__menu-list .list__header {
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.header .header__wrap .header__menu .header__menu-list .list__header,
.list__header-item {
  font-family: "Montserrat", sans-serif;
  position: relative;
  color: black;
  min-width: 130px;
  text-align: center;
}
.header .header__wrap .header__menu .header__menu-list .list__header,
.list__header-item:hover {
  color: rgba(87, 87, 7, 0.753);
}

.header .header__wrap .header__menu .header__menu-sign {
  border: 1px solid green;
  border-radius: 15px;
  padding: 0 10px;
}
