.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 200;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  padding: 0 100px;
}

.logo {
  align-items: center;
}
.logo a {
  color: var(--logo);
  font-family: Ribeye;
  font-weight: 400;
  font-size: 36px;
  line-height: 49px;
}

.navbar .links {
  display: flex;
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar .link a:hover {
  color: #f1356d;
}

.signButton {
  background-color: #12c99d;
  border-radius: 25px;
  padding: 5px 15px;
  display: flex;
  justify-content: center;
}
.navbar .signButton a {
  color: aliceblue;
  align-self: center;
  text-align: center;
  font-size: 20px;
}
